
<table width="100%" style="padding:0;margin:0" bgcolor="#000" cellpadding='2' cellspacing="2">
	<thead>
		<tr >
			<td>
				<a href="http://www.iwine.me"><img src="http://www.wineplus.me/assets/logo.gif"></a>
			</td>
		</tr>
	</thead>
</table>

<p>We received a request to reset the password associated with this e-mail address.  </p>

<p>Click <a href="<%= @edit_password_reset_url %>">here</a> to reset your password.   IF YOU HAVE NOT PROMPTED A CHANGE FOR YOUR PASSWORD,  <br>
PLEASE NOTIFY US AT SERVICE@WINEPLUS.ME.
</p>

<p>
	<strong>Wine Plus Cellar</strong><br>
	Addr.: 2F, No.1 South Wu-Lu-Mu-Qi Road, Shanghai China 200031 <br>
    Tel: +86-21-51702312 <br>
    Fax: +86-21-51702316 <br>
    Email: order@wineplus.me <br>
    Follow us on Weixin: [微信二维码图片]
</p>