<!DOCTYPE HTML>
<html>
<head>
<title>Untitled Document</title>
<meta charset="UTF-8">
<!-- <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"> -->
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<%= stylesheet_link_tag '/mobile_html/css/style', :media => 'screen' %>
<%= stylesheet_link_tag '/mobile_html/css/ui-media', :media => 'media' %>
</head>
 <body id="body" style="width: 320px; margin: 0px auto;">
 <%#= render 'header' %>
 <header>
   <div class="top" id="top">
     <div class="logo"><img src="images/logo.jpg" width="81" height="45"></div>
     <div class="top_btn"> <span><a href="#"><img src="images/top_btn4.jpg" width="30" height="30"></a></span> <span><a href="#"><img src="images/top_btn5.jpg" width="30" height="30"></a></span> <span><a href="#"><img src="images/top_btn6.jpg" width="30" height="30"></a></span> </div>
   </div>
   <nav class="menu"> <a href="red wine.html">RED</a> <a href="#">WHITE</a> <a href="#">SPARKING</a> <a href="#">EXPLORE</a> <a href="#" class="menu_last">ACCESSORIES</a> </nav>
   <div class="mx_line"><img src="images/home_pic1.jpg" width="320" height="5"></div>
   <div class="search_con">
     <div class="sc_left">
       <input type="text" required value="拉菲" class="input1">
     </div>
     <div class="sc_btn"><a href="#">SEARCH</a></div>
   </div>
 </header>
 <div class="home_con">
   <div class="banner"><img src="images/banner1.jpg" width="320" height="140"></div>
   <div class="red_con">
     <div class="rc_title">RED WINE</div>
     <ul class="rc_con">
       <li> <span class="rcl_img"><a href="#"><img src="images/home_pic2.jpg" width="85" height="96"></a></span> <span class="rcl_name"><a href="#">2010 Château La Jalgue Rouge</a></span> <span class="rcl_tot">¥ 355.00</span> </li>
       <li> <span class="rcl_img"><a href="#"><img src="images/home_pic2.jpg" width="85" height="96"></a></span> <span class="rcl_name"><a href="#">2010 Château La Jalgue Rouge</a></span> <span class="rcl_tot">¥ 355.00</span> </li>
       <li class="pro_last"> <span class="rcl_img"><a href="#"><img src="images/home_pic2.jpg" width="85" height="96"></a></span> <span class="rcl_name"><a href="#">2010 Château La Jalgue Rouge</a></span> <span class="rcl_tot">¥ 355.00</span> </li>
     </ul>
   </div>
   <div class="red_con">
     <div class="rc_title">WHITE WINE</div>
     <ul class="rc_con">
       <li> <span class="rcl_img"><a href="#"><img src="images/home_pic2.jpg" width="85" height="96"></a></span> <span class="rcl_name"><a href="#">2010 Château La Jalgue Rouge</a></span> <span class="rcl_tot">¥ 355.00</span> </li>
       <li> <span class="rcl_img"><a href="#"><img src="images/home_pic2.jpg" width="85" height="96"></a></span> <span class="rcl_name"><a href="#">2010 Château La Jalgue Rouge</a></span> <span class="rcl_tot">¥ 355.00</span> </li>
       <li class="pro_last"> <span class="rcl_img"><a href="#"><img src="images/home_pic2.jpg" width="85" height="96"></a></span> <span class="rcl_name"><a href="#">2010 Château La Jalgue Rouge</a></span> <span class="rcl_tot">¥ 355.00</span> </li>
     </ul>
   </div>
   <div class="red_con">
     <div class="rc_title">SPARKLING WINE</div>
     <ul class="rc_con">
       <li> <span class="rcl_img"><a href="#"><img src="images/home_pic2.jpg" width="85" height="96"></a></span> <span class="rcl_name"><a href="#">2010 Château La Jalgue Rouge</a></span> <span class="rcl_tot">¥ 355.00</span> </li>
       <li> <span class="rcl_img"><a href="#"><img src="images/home_pic2.jpg" width="85" height="96"></a></span> <span class="rcl_name"><a href="#">2010 Château La Jalgue Rouge</a></span> <span class="rcl_tot">¥ 355.00</span> </li>
       <li class="pro_last"> <span class="rcl_img"><a href="#"><img src="images/home_pic2.jpg" width="85" height="96"></a></span> <span class="rcl_name"><a href="#">2010 Château La Jalgue Rouge</a></span> <span class="rcl_tot">¥ 355.00</span> </li>
     </ul>
   </div>
 </div>
 <footer>
   <div class="ft_top">
     <div class="fp_left"> <a href="#">Register</a> <a href="#"> Login </a></div>
     <div class="fp_right"><a href="#top">Top</a></div>
   </div>
   <div class="ft_bottom">
     <div class="fb_link"> <a href="#">About Us</a> | <a href="#">Contact Us</a> | <a href="#">Privacy</a> <a href="#" class="bl_last">切换至电脑版</a></div>
     <div class="fb_bq"> Copyright © 2013 WinePlus Cellar | 沪ICP备12011981号-12 </div>
   </div>
 </footer>
 </body>
 </html>


