<ul class="dsa_con">
      <li>
            <span class="dcn_1">Name:</span>
            <span><%= add.full_name %></span>
      </li>
      <li>
            <span class="dcn_1">Address:</span>
            <span><%= add.full_address %></span>
      </li>
      <li>
            <span class="dcn_1">Phone:</span>
            <span><%= add.phone %></span>
      </li>            
      <li>
            <span class="dcn_1">Zip</span>
            <span><%= add.zipcode %></span>
      </li>
</ul>