<% unless @product_properties.empty? %>  
  <!-- <h6 class="product-section-title"><%= Spree.t('properties')%></h6> -->
  <table id="product-properties" class="table-display" data-hook>
    <tbody>

      <% if @product.property(:vintage).present? %>
      <tr>
        <td class="property_name">Vinage:</td>
        <td class="property_value">
          <%= @product.property(:vintage) %>
        </td>
      </tr>
      <% end %>

      <% if @product.property(:rating).present? %>
      <tr>
        <td class="property_name">Rating</td>
        <td class="property_value">
           <%= @product.property(:rating) %> 
        </td>
      </tr>
      <% end %>
      
      <% if @product.property(:capacity).present? %>
      <tr>
        <td class="property_name">Capacity:</td>
        <td class="property_value"> <%= @product.property(:capacity) %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
