form.hide_form {
	display: none;
}
 .sc_left{
	margin-top: 2px;

}
.snl_img {
	width: 15%;
}
.snl_text {
	width: 80%;
}
.sc_left input.input1 {
	height: 24px;
}
.snl_text .delete img {
	margin-top: 3px;
}
.stn_btn {
	margin-left: 19px;
}
.menu a.menu_last {
	padding: 0px 2px;
}
.stc_con  table td.td1 {
	color: #b80000;
	width: 80px;
}

input[type="submit"], button[type="submit"], button {
	outline: 0;
	background: #b80000;
	border: 0;
	color: #FFF;
	padding: 7px 10px;
	cursor: pointer;
}

.stc_con  table td.td2 ul li a {
	display: block;
	float: left;
	border: 1px solid #e5e5e5;
	line-height: 30px;
	padding: 0px 5px;
	margin-right: 4px;
	margin-bottom: 5px;
}
.stc_con  table td.td2 ul {
	overflow: hidden;
	height: 100px;
}

.stc_con  table td.td2 ul.show {
	overflow: auto;
	height: auto;	
}


table.order-summary  th {
	width: 50%;
	text-align: right;
}

table.order-summary  td, table.order-summary  th  {
	padding: 8px;
	line-height: 1.428571429;
	vertical-align: top;
	background: #fdfdfd;
}


table.order-summary {
	background:#DDD;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	width: 100%;

}


table tr:last-child th:first-child {
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px}
	
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px}

header .list_btn {
	overflow: hidden;
}
header .close {
	display: none;

}

