 <ul class="aul_list">
  <li><%= link_to_static 'About Us', '/about_us', action_name %></li>
  <li><%= link_to_static 'Contact Us', '/contact_us', action_name %> </li>
  <li><%= link_to_static 'Privacy', '/privacy', action_name %></li>
</ul>