<div class="rw_list">
  <div class="abu_left">
    <div class="aul_tilte"></div>
    <%= render 'sidebar' %>
    <div class="rlt_bottom"></div>
  </div>

  <div class="abu_right">
    <div class="aur_title">ABOUT US</div>
    <div class="aur_con">
      <p class="auc_title">What is Wine Plus Cellar?</p>
      <p class="auc_con">Wine Plus Cellar provides access to high quality wines at the lowest prices in town.</p>
      <p class="auc_title">How does Wine Plus Cellar work?</p>
      <p class="auc_con">We carefully select wines to be put up into our store. All of the wines are tasted by the panel of highly professional tasters and meet our strictly standards: both high quality and the lowest price in town!</p>
      <p class="auc_title">For how long is each product offered?</p>
      <p class="auc_con">Wines are offered with limited quantity and would be put off once all of the stock is sold out. Time on shelf varies; some stays for several months because of its sufficient stock, while some flash sold-out in a few minutes due to its scarcity and status of highly sought-after.</p>
      <p class="auc_title">How do I join?</p>
      <p class="auc_con">Membership of Wine Plus Cellar is free, and you can register on our website (www.wineplus.me).</p>
    </div>
    <div class="rlt_bottom"></div>
  </div>

</div>