<div class="sas_con">
  <div class="abs_con">      
    <p class="bsc_text1">2F, No.1 South Wu-Lu-Mu-Qi Road Shanghai, China 200031 +86-21-51702312</p>
    
  </div>

  <div class="cou_tx">

    <div>
      <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=zh-cn&geocode=&q=%E4%B8%8A%E6%B5%B7%E5%B8%82%E4%B9%8C%E9%B2%81%E6%9C%A8%E9%BD%90%E5%8D%97%E8%B7%AF1%E5%8F%B7&ie=UTF8&z=12&t=m&iwloc=near&output=embed">

      </iframe>
      <br>
      <table width="700" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="left">
            <small>
              <!-- <a href="http://maps.google.com/maps?f=q&source=s_q&hl=zh-cn&geocode=&q=%E4%B8%8A%E6%B5%B7%E5%B8%82%E4%B9%8C%E9%B2%81%E6%9C%A8%E9%BD%90%E5%8D%97%E8%B7%AF1%E5%8F%B7&ie=UTF8&z=12&t=m&iwloc=near">查看大图</a> -->
            </small>
          </td>
          <td align="right">
          </td></tr></table>
        </div>

      </div>


    </div>
    <div class="rlt_bottom"></div>
  </div>


</div>

