<div class="rw_list">
  <div class="abu_left">
    <div class="aul_tilte"></div>
    <%= render 'sidebar' %>
    <div class="rlt_bottom"></div>
  </div>
  <div class="abu_right">
    <div class="aur_title">Contact Us</div>
     <div class="aur_con">Coming Soon...</div>
    <div class="rlt_bottom"> </div>
  </div>
</div>