<div class="rw_list">
  <div class="abu_left">
    <div class="aul_tilte"></div>
    <%= render 'sidebar' %>
    <div class="rlt_bottom"></div>
  </div>

  <div class="abu_right">
    <div class="aur_title">CONTACT US</div>
    <div class="aur_con">
      <div class="cou_text">
        <p class="cut_1">2F, No.1 South Wu-Lu-Mu-Qi Road Shanghai, China 200031 +86-21-51702312</p>
        <p>Thanks for getting in touch. Please drop us a line with questions or comments. We would love to hear from you!</p>
      </div>

      <div class="cou_tx">
        <div class="cux_bt">CONTACT INFORMATION</div>
        <div class="cpd_con">
          <span class="coc_2">YOUR NAME：</span>
          <span class="lou_2">
            <input type="text" class="input7" />
          </span>
        </div>

        <div class="cpd_con">
          <span class="coc_2">YOUR EMAIL ADDRESS：</span>
          <span class="lou_2">
            <input type="text" class="input7" />
          </span>
        </div>

        <div class="cpd_con">
          <span class="coc_2">YOUR PHONE NUMBER：</span>
          <span class="lou_2">
            <input type="text" class="input7" />
          </span>
        </div>

        <div class="cpd_con">
          <span class="coc_2">SUBJECT：</span>
          <span class="lou_2">
            <input type="text" class="input7" />
          </span>
        </div>

        <div class="cpd_con">
          <span class="coc_2">MESSAGE：</span>
          <span class="lou_4">
            <textarea name="" cols="" rows="" class="input13"></textarea>
          </span>
        </div>
        <div class="cou_btn"><a href="#">PRESERVATION</a>
        </div>

      </div>


    </div>
    <div class="rlt_bottom"></div>
  </div>
  
</div>