
<div class="rl_left">
  <div class="usl_tilte">MY ACCOUNT</div>
  <ul class="usr_list">
    <li>
      <%= link_to_edit_account 'ACCOUNT SETTINGS', controller_name, action_name %>
    </li>
    <li>
      <%= link_to_my_orders 'MY ORDERS', controller_name, action_name %>
    </li>
  </ul>
  <div class="rlt_bottom"></div>
</div>
