/* CSS Document */

/* 公共样式 */

body, ul, dl, dt, dd p {
	background:#f3f3f3;
	border:none;
	color:#444;
	padding:0px;
	margin:0px;  /*font:12px/1.5 helvetica,arial,"hiragino sans gb",宋体,sans-serif; */
	font-family:"Adobe Garamond Pro";
	font-size:12px;
}
body {
	border:0px;
}
li {
	list-style-type:none;
}
a {
	color: #444;
	text-decoration:none;
}
a:hover {
	color: #b80000;
	text-decoration:none;
}
img, li {
	vertical-align:top;
}
img {
	border:none;
}
.top {
	height:145px;
	background:#000000;
}
.top_link {
	height:30px;
	border-bottom:1px solid #1c1c1c;
}
.tl_con {
	width:980px;
	margin:0px auto;
	overflow:hidden;
}
.tlc_left {
	float:left;
	overflow:hidden;
	height:30px;
	border-left:1px solid #1c1c1c;
}
.tlc_left span {
	display:block;
	float:left;
	width:90px;
	text-align:center;
	border-right:1px solid #1c1c1c;
}
.tlc_left span a {
	color:#dddddd;
	line-height:30px; /*font-weight:bold;*/
}
.tlc_left span a:hover {
	color:#b80000;
}
.tlc_right {
	float:right;
	overflow:hidden;
	width:270px;
	line-height:30px;/*font-weight:bold;*/
}
.tr_welcome {
	float:left;
	color:#999;
	margin-right:8px;
}
.tr_login {
	float:left;
}
.tr_login a {
	color:#b80000;
	padding:0px 5px;
	font-weight:bold;
}
.top_bottom {
	width:980px;
	margin:0px auto;
	overflow:hidden;
}
.tb_logo {
	float:left;
	padding:24px 0px 0px 20px;
}
.tb_right {
	float:right;
	width:450px;
}
.tbr_nl {
	overflow: hidden;
	height:27px;
	padding-bottom:11px;
	padding-top:15px;
	padding-left:35px;
}
.tnl_text {
	float:right;
	line-height:27px;
	color:#999;
	margin-right:10px;
}
.tnl_input {
	float:right;
	overflow:hidden;
}
.tnl_input span {
	display:block;
	float:left;
}
.tnl_input span a {
	display:block;
	height:18px;
	background:#505050;
	width:50px;
	text-align:center;
	padding-top:8px;
	color:#fff;
}
.tnl_input span.ti_kk {
	width:162px;
}
input.input1 {
	width:160px;
	height:22px;
	background:none;
	border:1px solid #323232;
}
.tbr_search {
	overflow:hidden;
}
.tbr_search span {
	display:block;
	float:right;
}
.tbr_search span a {
	display:block;
	height:26px;
	background:#505050;
	width:78px;
	text-align:center;
	padding-top:12px;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	padding-left:10px;
}
.tbr_search span.ts_kk {
	width:360px;
}
input.input2 {
	width:360px;
	height:34px;
	background:#e6e6e6;
	border:1px solid #6c6c6c;
	padding-left:5px;
}
.menu_bg {
	background:url(menu_bg.gif) repeat-x;
	height:46px;
}
.col960 {
	width:980px;
	margin:auto;
	position:relative;
}
.navbg {
	height:40px;
	width: 100%;
	background: #121212;
	box-shadow: 1px 1px 7px #999;
	position:absolute;
	z-index:99;
	left:0;
}
#navul li {
	float: left;
	width:130px;
	height:40px;
	position:relative;
	text-align:center;
	line-height:40px;
}
#navul li.navhome {
	text-align:left;
	width:55px;
	line-height:0px;
	height:40px;
}
#navul li a:link, #navul li a:visited {
	display:block;
	width:130px;
	height:40px;
	font-weight:bold;
	font-size:14px;
	color:#FFFFFF;
}
#navul li a.m1 {
	width:30px;
	height:25px;
	padding:12px 0px 0px 25px;
}
#navul li a.m2 {
	background:url(../images/menu_pic2.gif) no-repeat 90px 17px;
}
#navul li a.m3 {
	background:url(../images/menu_pic2.gif) no-repeat 100px 17px;
}
#navul li a.m4 {
	background:url(../images/menu_pic2.gif) no-repeat 115px 17px;
}
#navul li a.m5 {
	background:url(../images/menu_pic2.gif) no-repeat 107px 17px;
}
#navul li a.m6 {
	background:url(../images/menu_pic2.gif) no-repeat 115px 17px;
	text-align:left;
	padding-left:8px;
}
#navul li ul {
	display:none;
	position:absolute;
	z-index:10000;
	top:38px;
	left:-1px;
	background:#000;
	border:#1c1c1c 1px solid;
	border-bottom:none;
}
#navul li ul li {
	display:block;
	width:128px;
	float:none;
	margin-right:0px;
	height:28px;
	position:relative;
	line-height:28px;
	border-bottom:#1c1c1c 1px solid;
	font-size:12px;
}
#navul li.navmoon {
	background:#000;
	border:#1c1c1c 1px solid;
	width:128px;
	height:38px;
	line-height:38px;
}
#navul li.navmoon a {
	color:#FFFFFF;
}
#navul li a.current2{color:#b80000;}
#navul li a:hover{color:#b80000;
}

#navul li.navhome a:hover {
	color:#b80000;
}
#navul li.navmoon ul {
	display:block;
}
#navul li.navmoon ul a {
	display:block;
	width:128px;
	height:28px;
	line-height:28px;
	color:#bbb;
	font-size:12px;
}
#navul li.navmoon ul a:hover {
	background:#b80000;
}
.sc_con {
	position:absolute;
	width:205px;
	height:40px;
	left: 773px;
	top: 0px;
	background:#b80000;
	overflow:hidden;
}
.scc_left {
	float:left;
}
.scc_left span {
	display:block;
	float:left;
	line-height:40px;
	color:#fff;
	height:40px;
}
span.scl_1 {
	background:url(../images/home_pic3.gif) no-repeat 15px 11px;
	padding-left:45px;
	padding-right:8px;
}
.scc_btn {
	float:right;
	padding:6px 8px 0px 0px;
}
.scc_btn a {
	display:block;
	height:19px;
	background:#f6f6f6;
	padding:0px 5px;
	padding-top:8px;
}
/*banner滚动*/
.banner {
	width:980px;
	height:335px;
	margin:0px auto;
	margin-bottom: 20px;
	margin-top:15px;
}
#wrapper {
	width:980px;
	height:335px;
	overflow:hidden;
}
.callbacks_container {
	position: relative;
	float: left;
	width: 980px;
	height:335px;
}
.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.callbacks li {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}
.callbacks img {
	display: block;
	position: relative;
	z-index: 1;
	height: auto;
	width: 100%;
	border: 0;
}
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 52%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url(../images/themes.gif) no-repeat left top;
	margin-top: -45px;
}
.callbacks_nav:active {
	opacity: 1.0;
}
.callbacks_nav.next {
	left: auto;
	background-position: right top;
	right: 0;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}
/*首页中间内容*/
.con_width {
	width:982px;
	margin:0px auto;
}
.home_con1 {
	width:982px;
	background:url(../images/bg_con.gif) repeat-y;
	border-top:1px solid #ddd;
	overflow:hidden;
	margin-bottom:17px;
}
.hcc_con {
	overflow:hidden;
	padding-right:3px;
}
.hc_left {
	float:left;
	width:282px;
	border-right:1px solid #ddd;
}
.hcl_top {
	height:124px;
	border-bottom:1px solid #ddd;
	overflow:hidden;
}
.hct_img {
	float:left;
	padding:2px;
	margin-right:10px;
}
.hct_text {
	float:left;
	width:150px;
}
.htt_bt {
	margin-top:22px;
	margin-bottom:15px;
	line-height:18px;
}
.htt_sz {
	height:24px;
}
.htt_sz span {
	display:block;
	float:left;
	background:#b80000;
	color:#fff;
	height:24px;
}
.htt_sz span.fh {
	font-size:12px;
	padding-right:5px;
	height:17px;
	padding-top:7px;
	padding-left:8px;
}
.htt_sz span.sz {
	font-size:20px;
	height:23px;
	padding-top:1px;
	padding-right:8px;
}
.hcl_bottom {
	overflow:hidden;
}
.hct_img2 {
	float:left;
	padding:2px;
	margin-left:10px;
}
.hct_text2 {
	float:left;
	width:150px;
	padding-left:10px;
}
.hc_center {
	float:left;
	width:412px;
	border-right:1px solid #ddd;
	background:#f9f9f9;
	overflow:hidden;
}
.hcc_left {
	float:left;
	padding:23px 0px;
}
.hcc_right {
	float:right;
	width:200px;
	margin-right:28px;
}
.hcr_text {
	margin-top:70px;
	font-size:14px;
	line-height:18px;
	text-align:center;
}
.hcr_line {
	margin:20px 0px;
}
.hcr_btn {
	overflow:hidden;
}
.hcb_sz {
	float:left;
	overflow: hidden;
	margin-right:20px;
	margin-left:8px;
}
.hcb_sz span {
	display:block;
	float:left;
	color:#b80000;
}
.hcb_sz span.hcs_1 {
	font-size:18px;
	padding-top:12px;
	padding-right:5px;
}
.hcb_sz span.hcs_2 {
	font-size:36px;
}
.hcb_btn {
	float:left;
	height:26px;
	margin-top:5px;
}
.hcb_btn a {
	display:block;
	height:19px;
	font-size:14px;
	background:#b80000;
	padding:0px 7px;
	color:#fff;
	padding-top:7px;
}
.hc_right {
	float:left;
	width:282px;
}
.pms_tilte {
	height:38px;
	border-bottom:2px solid #b80000;
	font-size:26px;
	font-weight:bold;
	padding-top:20px;
	padding-left:20px;
}
ul.pms_con {
	display:block;
	padding:20px 0px 20px 18px;
	overflow:hidden;
	background:none;
}
ul.pms_con li {
	display:block;
	width:220px;
	margin-right:20px;
	float:left;
	background:#f9f9f9;
}
dl.pc_top {
	display:block;
	border:1px solid #e5e5e5;
	background:#f9f9f9;
}
dl.pc_top dt {
	display:block;
	padding:12px 20px;
	text-align:center;
}
dl.pc_top dd {
	display:block;
	margin:0px;
	padding:0px;
}
.pc_bottom {
	height:40px;
	background:#f2deca;
	overflow:hidden;
}
.pcb_left {
	float:left;
	overflow:hidden;
	margin-left:15px;
}
.pcb_left span {
	display:block;
	color:#b80000;
	float:left;
}
.pcb_left span.pcl_1 {
	font-size:15px;
	padding-top:16px;
	padding-right:5px;
}
.pcb_left span.pcl_2 {
	font-size:32px;
	padding-top:5px;
}
.pcb_btn {
	float:right;
	height:26px;
	margin-right:12px;
	margin-top:8px;
}
.pcb_btn a {
	display:block;
	height:19px;
	background:#b80000;
	padding:0px 10px;
	font-size:14px;
	padding-top:7px;
	color:#fff;
}
.red_tilte {
	height:58px;
	border-bottom:2px solid #b80000;
	overflow:hidden;
}
.red_tilte span {
	display:block;
}
.red_tilte span.big_title {
	float:left;
	font-size:26px;
	font-weight:bold;
	padding-top:20px;
	padding-left:20px;
}
.red_tilte span.more {
	float:right;
	padding-right:20px;
}
.red_tilte span.more a {
	display:block;
	color:#777;
	font-size:12px;
	padding-top:35px;
}
ul.red_list {
	display:block;
	overflow:hidden;
	background:none;
	padding:30px 0px 30px 18px;
}
ul.red_list li {
	display:block;
	float:left;
	width:172px;
	margin-right:20px;
}
.rl_img {
	border:1px solid #ddd;
	margin-bottom:10px;
}
.rl_name {
	line-height:18px;
	padding:0px 5px;
}
.rl_bottom {
	overflow:hidden;
	padding:0px 5px;
}
.rl_bottom span {
	display:block;
	float:left;
	line-height:18px;
}
.rl_bottom span.rlb_1 {
	color:#b80000;
	margin-right:10px;
}
.rl_bottom span.rlb_2 {
	background:url(../images/home_pic10.gif) repeat-x;
	padding:0px 5px;
}
.footer_bg {
	height:40px;
	background:#000;
	overflow:hidden;
	margin-top:25px;
}
.footer {
	width:940px;
	margin:0px auto;
	overflow:hidden;
	color:#ddd;
	line-height:40px;
	padding:0px 20px;
}
.footer_left {
	float:left;
}
.footer_right {
	float:right;
	overflow:hidden;
}
.footer_right a {
	color:#ddd;
	padding:0px 8px;
}
/*列表页*/
.page_current {
	height:22px;
	padding-top:13px;
	text-align:right;
	padding-right:15px;
}
.page_current span.pc_con {
	color:#b80000;
}
.wine_choose {
	overflow:hidden;
	background:#fff;
	margin-bottom:17px;
}
.wch_bg {
	overflow:hidden;
	height:233px;
	background:url(../images/bg_yd.gif) repeat-x bottom;
}
ul.wch_left {
	display:block;
	float:left;
	width:90px;
	border:1px solid #ddd;
	border-right:none;
	border-bottom:none;
}
ul.wch_left li {
	display:block;
	width:90px;
	height:45px;
	background:url(../images/red_pic1.jpg) no-repeat;
	text-align:center;
	line-height:45px;
	font-size:14px;
	color:#fff;
	border-bottom:1px solid #fff;
	font-weight:bold;
}
ul.wch_left li.whl_last {
	border-bottom:none;
}
ul.wch_right {
	display:block;
	float:left;
	width:888px;
	border-top:1px solid #ddd;
	padding-right:3px;
	background:url(../images/bg_yy.gif) repeat-y right;
}
ul.wch_right li {
	display:block;
	border-bottom:1px solid #eee;
	height:45px;
	overflow:hidden;
	padding-left:8px;
}
ul.wch_right li.whr_last {
	border-bottom:none;
}
ul.wch_right li a {
	display:block;
	float:left;
	padding:5px 8px;
	margin:0px 10px;
	margin-top:10px;
}
ul.wch_right li a:hover {
	color:#fff;
	background:#b80000;
}
ul.wch_right li a.wr_current {
	color:#fff;
	background:#b80000;
}
.rw_list {
	overflow:hidden;
	width:982px;
}
.rl_left {
	float:left;
	width:182px;
	margin-right:18px;
	padding-right:3px;
	background: url(../images/bg_yy.gif) repeat-y right;
	border-left:1px solid #ddd;
}
.rlt_tilte {
	height:23px;
	background:url(../images/red_pic2.gif) repeat-x;
	border-top:1px solid #ddd;
	font-size:14px;
	font-weight:bold;
	padding-left:15px;
	padding-top:12px;
}
ul.rlt_con {
	display:block;
	padding:25px 5px;
	padding-bottom:1px;
	background:#fff;
}
ul.rlt_con li {
	display:block;
	padding:0px 10px 25px 10px;
	border-bottom:1px solid #eee;
	margin-bottom:25px;
}
.rtc_img {
	width:124px;
	height:140px;
	border:1px solid #ddd;
	margin-left:13px;
}
.rtc_name {
	line-height:18px;
	margin:10px 0px;
	text-align:center;
}
.rtc_sz {
	overflow:hidden;
}
.rtc_sz span {
	display:block;
	float:left;
}
.rtc_sz span.rts_1 {
	color:#b80000;
	padding-left:8px;
	margin-right:13px;
	font-size:14px;
	padding-top:6px;
}
.rtc_sz span.rts_2 a {
	display:block;
	padding:0px 6px;
	height:17px;
	background:#ececec;
	border:1px solid #dedede;
	text-align:center;
	padding-top:6px;
}
.rlt_bottom {
	background:url(../images/bg_yd.gif) repeat-x;
	height:4px;
}
.rl_right {
	float:left;
	padding-right:3px;
	background: url(../images/bg_yy.gif) repeat-y right;
	border-left:1px solid #ddd;
	width:774px;
}
.rlr_title {
	border-top:2px solid #b80000;
	height:33px;
	background:url(../images/red_pic4.gif) repeat-x;
	line-height:33px;
	padding-left:15px;
	font-size:14px;
	font-weight:bold;
}
ul.rlr_con {
	display:block;
	background:#fff;
	overflow:hidden;
	padding:25px 0px 0px 22px;
}
ul.rlr_con li {
	display:block;
	float:left;
	width:172px;
	margin:0px 15px 50px 0px;
}
ul.rlr_con li span {
	display:block;
	text-align:center;
}
ul.rlr_con li span.rlc_img {
	border:1px solid #ddd;
}
ul.rlr_con li span.rlc_name {
	line-height:18px;
	margin:8px 0px;
}
ul.rlr_con li span.rlc_sz {
	color:#b80000;
	margin-bottom:8px;
}
ul.rlr_con li span.rlc_btn {
	margin-left:32px;
}
ul.rlr_con li span.rlc_btn a {
	display:block;
	height:27px;
	background:#414141;
	width:100px;
	color:#fff;
	line-height:27px;
}
ul.rlr_con li span.rlc_btn a:hover {
	background:#b80000;
}
.rlr_page {
	background:#fff;
	overflow:hidden;
	text-align:right;
	padding-bottom:43px;
	padding-right:30px;
}
.rlr_page a {
	display:block;
	float:right;
	width:18px;
	height:18px;
	border:1px solid #ddd;
	text-align:center;
	line-height:18px;
	margin-right:8px;
}
.rlr_page a.pre_1 {
	width:70px;
	background:url(../images/red_pic5.gif) no-repeat 5px 5px;
	text-align:left;
	padding-left:15px;
}
.rlr_page a.next_1 {
	width:60px;
	background:url(../images/red_pic6.gif) no-repeat 70px 5px;
	text-align:left;
	padding-left:25px;
}
.rlr_page a:hover {
	border:1px solid #b80000;
}
.rlr_page a.current3 {
	border:1px solid #b80000;
	color:#b80000;
}
/*详细页*/
.pd_right {
	float:left;
}
.pd_con {
	background:#fff;
	width:777px;
	margin-bottom:17px;
}
.pdc_con {
	overflow:hidden;
	background:url(../images/bg_yy.gif) repeat-y right;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	width:747px;
	padding:15px;
}
.pcx_img {
	float:left;
	border:1px solid #ddd;
	margin-right:30px;
}
.pcx_right {
	float:left;
}
dl.pr_sm {
	display:block;
	background:#fff;
}
dl.pr_sm dt {
	display:block;
	width:420px;
	line-height:22px;
	font-size:20px;
	font-weight:bold;
	color:#b80000;
	margin-bottom:20px;
	margin-top:15px;
	background:#fff;
	padding-left:8px;
}
dl.pr_sm dd {
	display:block;
	margin:0px;
	line-height:26px;
	padding-left:8px;
}
dl.pr_sm dd span.price_1 {
	font-size:18px;
	color:#b80000;
	font-weight: bold;
}
.pr_gm {
	width:432px;
	height:57px;
	background:#f1f1f1;
	margin-top:20px;
	overflow:hidden;
	padding:23px 0px 0px 18px;
}
.prm_text {
	float:left;
	margin-right:8px;
	margin-top:8px;
}
.prm_sz {
	float:left;
	margin-right:12px;
	overflow:hidden;
	margin-top:3px;
}
.prm_sz span {
	display:block;
	float:left;
}
.prm_sz span.psz_1 {
	padding:0px 3px;
	padding-top:6px;
}
.prm_sz span.psz_2 {
	width:49px;
	height:30px;
}
input.input3 {
	width:45px;
	height:24px;
	border:1px solid #ddd;
	background:#fff;
	text-align:center;
}
.prm_btn {
	float:left;
}
.prm_btn a {
	display:block;
	width:110px;
	height:24px;
	background:#b80000;
	color:#fff;
	text-align:center;
	padding-top:11px;
	font-size:14px;
	font-weight:bold;
}
.pdr_con {
	width:777px;
	background:url(../images/bg_yy.gif) repeat-y right;
	border-left:1px solid #ddd;
}
#tab2 {
	width:774px;
}
.tabTitle2 {
	width:774;
	height:37px;
	background:url(../images/pd_pic5.gif) repeat-x;
}
.tabTitle2 a {
	display:block;
	float:left;
	width:158px;
	height:27px;
	padding-right:5px;
	padding-top:10px;
	font-size:14px;
	border-right:1px solid #ddd; /*font-weight:bold; */
	text-align:center;
	text-decoration:none;
}
.tabTitle2 a.current {
	color:#b80000;
	background:url(../images/pd_pic6.gif) repeat-x;
}
.tabTitle2 a:hover {
	color:#b80000;
	background:url(../images/pd_pic6.gif) repeat-x;
}
.contentBox2 {
	padding:30px;
	background:#fff;
}
.pdt_list {
	border:1px solid #ddd;
	width:715px;
}
.ptl_left {
	height:40px;
	width:100px;
	line-height:40px;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	text-align:center;
}
.ptl_right {
	height:40px;
	border-bottom:1px solid #ddd;
	padding-left:20px;
	line-height:40px;
}
.eva_top {
	margin-top:30px;
	margin-bottom:50px;
	padding-bottom:30px;
	border-bottom:1px solid #ddd;
}
.evt_ne {
	overflow:hidden;
	margin-bottom:25px;
}
.en_name {
	float:left;
	margin-right:100px;
}
span.enn_text {
	display:block;
	float:left;
	line-height:32px;
	margin-right:5px;
	width:85px;
	text-align:right;
}
span.enn_kk {
	display:block;
	float:left;
	width:175px;
	height:34px;
}
input.input4 {
	width:170px;
	height:30px;
	background:#fff;
	border:1px solid #ddd;
}
.en_email {
	float:left;
}
.evt_wz {
	overflow:hidden;
	margin-bottom:25px;
}
.evt_wz span {
	display:block;
	float:left;
}
span.ew_text {
	line-height:24px;
	margin-right:5px;
	width:85px;
}
span.ew_kk {
	width:585px;
	height:176px;
}
textarea.input5 {
	width:580px;
	height:170px;
	background:#fff;
	border:1px solid #ddd;
}
.evt_btn a {
	display:block;
	width:100px;
	height:31px;
	background:#b80000;
	text-align:center;
	color:#fff;
	line-height:31px;
	font-size:15px;
	margin:0px auto;
}
ul.rtb_list {
	display:block;
	background:#fff;
}
ul.rtb_list li {
	display:block;
	margin-bottom:40px;
	overflow:hidden;
}
.rtl_img {
	float:left;
	border:1px solid #ddd;
	padding:5px 4px 13px 4px;
	width:60px;
	height:60px;
	margin-right:15px;
}
.rtl_text {
	float:left;
	background:url(../images/pd_pic9.gif) repeat-y;
	width:616px;
}
.rtt_top {
	background:url(../images/pd_pic8.gif) no-repeat;
	overflow:hidden;
	height:38px;
	padding-left:35px;
	padding-top:10px;
}
.rtt_top span {
	display:block;
	float:left;
	margin-right:50px;
	line-height:30px;
	color:#777;
}
.rtt_bottom {
	line-height:18px;
	padding:0px 20px 20px 35px;
}
.rtt_line {
	height:1px;
	border-bottom:1px solid #ddd;
	margin-left:10px;
}
