<div class="footer_bg">
  <div class="footer">
    <div class="footer_left">Copyright © 2013 WinePlus Cellar | 沪ICP备12011981号-12</div>
    <div class="footer_right">
    	<%= link_to 'About Us', '/about_us' %> |
    	<%= link_to 'Contact Us', '/contact_us' %> |
    	<%= link_to 'Privacy', '/privacy' %>
    </div>
  </div>
</div>
