<div class="shc_top">
	<div class="sht_line"></div>
	<div class="outer">

		<h1>
			Unauthorized!! 
		</h1>

		<div>
			<p>Visit  <%= link_to 'Home Page', root_path() %></p>
		</div>
	</div>

</div>
<div class="rlt_bottom2"></div>
<style type="text/css">
.shc_top .outer  {
	padding: 8px;
}
</style>